/* Default Light Mode Styles */
html {
    --background-color: #ffffff;
    --text-color: #000000;
    --comp-bg: #b3b0b0;
    --header-background: #555;
    --header-text: #fff;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Dark Mode Styles */
html.dark-mode {
    --background-color: #121212;
    --header-background: #d3d3d3;
    --comp-bg: #3d3c3c;
    --text-color: #ffffff;
    --header-text: #000;
}

body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}