@import 'variables';

:root {
    --bg-color: #{$light-bg};
    --text-color: #{$light-text};
    --header-background: #555;
    /* Default Light Grey */
    --header-text: #333;
}

.dark-mode {
    --bg-color: #{$dark-bg};
    --text-color: #{$dark-text};
    --header-background: #d3d3d3;
    /* Dark Grey */
    --header-text: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}